@use 'variables';

.contact-section {
  position: relative;
  background: variables.$color-light;
  color: variables.$color-dark;
  padding: 10vh 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  .contact-title {
    font-family: variables.$font-primary;
    font-weight: 700;
    font-size: clamp(6rem, 15vw, 12rem);
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.3rem;
    text-align: center;
    line-height: 1;
    min-height: 1.2em;

    .contact-letter {
      display: inline-block;
      line-height: 1;
      position: relative;
      overflow: hidden;

      &::after {
        content: attr(data-letter);
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY(150%);
      }
    }
  }

  .contact-content {
    text-align: center;

    .contact-button {
      display: inline-block;
      padding: 1rem 2rem;
      background: variables.$color-dark;
      color: variables.$color-light;
      font-family: variables.$font-secondary;
      font-size: 1.2rem;
      text-decoration: none;
      border-radius: 999px;
      transition: background 0.3s ease;

      &:hover {
        background: darken(variables.$color-dark, 10%);
      }
    }
  }

  .contact-socials {
    display: flex;
    gap: 1rem;

    a {
      font-family: variables.$font-secondary;
      font-size: 0.9rem;
      text-decoration: none;
      color: variables.$color-dark;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media (max-width: 768px) {
    margin-top: 1rem;
    padding: 8vh 1rem;
    gap: 5rem;

    .contact-title {
      font-size: clamp(4rem, 10vw, 6rem);
      margin-bottom: 2rem;
    }

    .contact-content {
      width: 100%;
      display: flex;
      justify-content: center;

      .contact-button {
        padding: 0.8rem 1.5rem;
        font-size: 1rem;
        width: auto;
      }
    }

    .contact-socials {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

}
