@use 'variables';

.hero-wrapper {
  position: relative;
  height: calc(80vh + 100vh);
}

.hero-main {
  z-index: 0;
  top: 0; left: 0;
  width: 100%;
  position: absolute;
  height: 80vh;
  overflow: hidden;
  background: variables.$color-light;

  .hero-graphic {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 40%;
    transform: translateY(-50%);
    opacity: 0.2;
    pointer-events: none;
  }

  .hero-title {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90vw;
    width: max-content;
    margin: 0 auto;
    font-family: variables.$font-primary;
    font-size: clamp(8rem, 20vw, 14rem);
    line-height: 1;
    letter-spacing: -10px;
    color: variables.$color-dark;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;

    > span {
      display: block;
      white-space: nowrap;
    }
    span:first-child {
      text-align: right;
    }
    span:last-child {
      text-align: left;
    }
  }

  @media (max-width: 768px) {
    .hero-title {
      top: 45%;
      left: 50%;
      transform: translate(-50%, -45%);
      //width: calc(100% - 2rem);
      font-size: clamp(4rem, 10vw, 6rem);
      letter-spacing: -1px;
      line-height: 1.1;
    }
  }
}

.hero-title .letter {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 1em;
  line-height: 1;
}

.hero-title .letter .front,
.hero-title .letter .back {
  position: absolute;
  top: 0;
  left: 0;
}

.hero-title .letter .front {
  z-index: 2;
}
.hero-title .letter .back {
  z-index: 1;
}

@keyframes out-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes in-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes out-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes in-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes out-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
@keyframes in-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes out-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
@keyframes in-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

$letter-ease-in: ease-in;

.animate-out-left   { animation: out-left   0.6s $letter-ease-in forwards; }
.animate-in-left    { animation: in-left    0.6s $letter-ease-in forwards; }

.animate-out-right  { animation: out-right  0.6s $letter-ease-in forwards; }
.animate-in-right   { animation: in-right   0.6s $letter-ease-in forwards; }

.animate-out-up     { animation: out-up     0.6s $letter-ease-in forwards; }
.animate-in-up      { animation: in-up      0.6s $letter-ease-in forwards; }

.animate-out-down   { animation: out-down   0.6s $letter-ease-in forwards; }
.animate-in-down    { animation: in-down    0.6s $letter-ease-in forwards; }
